<md-content flex layout-padding>
    <h2>Контакти</h2>
    <h4>Ви можете зв'язатися з нами через наші поштові адреси:</h4>
    <md-list>
        <md-list-item>
            <img ng-src="/img/avatars/dima.jpg" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
                <md-button href="mcklayin@gmail.com">mcklayin@gmail.com</md-button>
            </div>
        </md-list-item>
        <md-list-item>
            <img ng-src="/img/avatars/artem.jpg" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
                <md-button href="vampirkod@gmail.com">vampirkod@gmail.com</md-button>
            </div>
        </md-list-item>
    </md-list>
</md-content>    