@import '../../../node_modules/angular-material/angular-material.css'

@import 'ui/*.styl'
@import 'typography.styl'


.layout-content
	margin: 16px;
	box-sizing: border-box;
.main-page
	padding-top: 200px
.form.reg-form
	padding: 15px
	width: 400px
	md-input-container.md-input-invalid > md-icon
		color: red;
	md-icon.phone
		color #01579b	
	md-icon.email
		color #004d00
	.ng-message
		margin-left: 40px	