//@import '../../../node_modules/angular-material/angular-material.layouts.css' 
@import '../../../node_modules/angular-material/angular-material.css'
@import 'ui/*.styl'
@import 'typography.styl'

body
	box-sizing border-box
.form.reg-form
	//padding: 15px 
	//width: 400px
	h4,button
		text-align: center
	md-input-container.md-input-invalid > md-icon
		color: red;
	md-icon.phone
		color #01579b	
	md-icon.email 
		color #004d00
	/*.ng-message
		margin-left: 40px	*/