html
	font-size: 62.5%;
	line-height: 1.4;
body
	font-size: 1.6rem;

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
h3
	font-size: 2.000rem;
	font-weight: 500;
	letter-spacing: 0.005em;
md-content
	color: rgba(0,0,0,0.87);	